* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
html {
  background: url(https://res.cloudinary.com/malaika/image/upload/v1564597261/plain-white-background.png)
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}
.list {
  position: fixed;
  top: -10px;
  left: 0;
  width: 100vh;
  height: calc(100vw);
  scrollbar-width: none;
  overflow: scroll;
  transform: rotate(-90deg);
  transform-origin: center calc(50vh);
}
.list::-webkit-scrollbar {
  display: none;
}
.list::-webkit-scrollbar {
  display: none;
}
.list::-webkit-scrollbar {
  display: block;
}
.list .item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
  width: 300px;
  height: 300px;
  transform: rotate(90deg);
}
.list .item .img {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform-origin: 100% 50%;
  -ms-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
  z-index: 10;
  position: relative;
}
.model {
  margin-left: 0;
  z-index: 99;
  width: 300px;
  height: 500px;
  bottom: 0%;
  top: 208px;
  left: 900px;
  position: fixed;
}
.logo {
  background: url(https://res.cloudinary.com/malaika/image/upload/v1564600345/BeFunky-photo_2.png)
    no-repeat;
  top: 300px;
  border: 10px solid white;
  left: 300px;
  position: absolute;
  z-index: 99;
  width: 130px;
  height: 57px;
}
.container {
  border-radius: 20px;
  top: 11%;
  left: 10%;
  width: 80%;
  height: 80%;
  position: absolute;
  border: 7px solid #f36557;
}
.container::after {
  content: "...";
  position: absolute;
  color: #f36557;
  font-size: 4em;
  top: -40px;
  left: 10px;
}
.container::before {
  content: "2019";
  position: absolute;
  color: #5e5f5d;
  font-size: 10px;
  top: 60px;
  left: 100px;
}
.item:nth-child(7) {
  margin-left: 148px;
  height: 327px;
}
@media only screen and (max-width: 768px) {
  .model {
    display: none;
  }
  .logo {
    display: none;
  }
}
